<meta charset="UTF-8">
<meta property="og:site_name" content="מילון ערבית מדוברת"/>
<meta property="fb:app_id" content="1067216663704512" />
<meta property="og:locale" content="he_IL" />
<meta property="og:locale:alternate" content="ar_JO" />
<meta property="og:locale:alternate" content="en" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/arabic_constant.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/arabic_upto499wide.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/arabic_from500wide.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/arabic_upto499high.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/arabic_from500high.css') }}" />
<link rel="shortcut icon" href="static/images/site/favicon.ico" />
<link rel="image_src" href="static/image/site/logo.jpg" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>