<div id="showTime" onclick="location.href='clock.asp';" style="cursor:pointer;">
    <span id="clock" dir="LTR">
        <span id="HH"></span><span id="MM"></span>
    </span>
    <span id="taatiklock"></span>
</div>

<!--these br's are needed cause the trailer hides the bottom part of the page-->
<br><br><br>
<table class="footer">
    <tr>
        <td>
            <div style="padding:5px 8px; text-align:left;">

            </div>
        </td>
    </tr>
</table>
	

<script src="../../static/javascript/saa3a.js"></script>