<!DOCTYPE html>
<html style="height:100%;">
<head>
    <title>אינדקס נושאים</title>
	<meta name="Description" content="אינדקס נושאים" />
    {% include 'includes/header.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <style>
        .tag {display:inline-block; cursor:pointer; margin:15px 0;}
    </style>
</head>
<body>

{% include 'includes/top.html' %}
<div id="pTitle">
    אינדקס נושאים
    <div style="font-size:.7em;">
        גודל הקישור ממחיש את כמות המילים
    </div>
</div>
{% include 'includes/label_tags_cloud.html' %}
{% include 'includes/trailer.html' %}
</body>
</html>
